@include mq($from: archiveOnTwoColumns) {

	.l-sideBySide {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		// Controls the gap
		&::before {
			flex: none;
			content: '';
			width: 4vw;
			order: 2;
		}
	}

	.l-sideBySide__header {
		width: 33vw;
		max-width: 25em;
		flex: none;
		order: 3;
	}

	.l-sideBySide__main {
		width: 34.5em;
		flex: none;
		order: 1;
	}
}