.rp-LetteredHeading-tShirts::before {
    padding-top: 66.01125240847784%;
}

.rp-LetteredHeading-tShirts .rp-LetteredHeading__me {
    background-image: url(assets/images/headings/me.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42.99051017167623%;
    width: 28.378574181117532%;
    top: 57.009513179279296%;
    left: 71.62143352601156%;
    transform: rotate(0rad);
    transform-origin: top left;
}

.rp-LetteredHeading-tShirts .rp-LetteredHeading__tShirsts {
    background-image: url(assets/images/headings/tshirts/T-shirsts@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 73.32200033625375%;
    width: 72.10019267822736%;
    top: 6.330981113747175%;
    left: 4.8951560693641625%;
    transform: rotate(0rad);
    transform-origin: top left;
}

.rp-LetteredHeading-tShirts .rp-LetteredHeading__for {
    background-image: url(assets/images/headings/tshirts/For@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 32.16594123031514%;
    width: 18.80539499036609%;
    top: 0%;
    left: 38.03528323699422%;
    transform: rotate(0rad);
    transform-origin: top left;
    z-index: 1;
}

.rp-LetteredHeading-tShirts .rp-LetteredHeading__ {
    background-image: url(assets/images/headings/tshirts/&@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26.153070183631915%;
    width: 16.223506743737957%;
    top: 45.73731809605649%;
    left: 4.62540655105973%;
    transform: rotate(0rad);
    transform-origin: top left;
}

.rp-LetteredHeading-tShirts .rp-LetteredHeading__merch {
    background-image: url(assets/images/headings/tshirts/merch@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 39.28798266425062%;
    width: 43.12138728323699%;
    top: 55.28350395098167%;
    left: 21.58015028901734%;
    transform: rotate(0rad);
    transform-origin: top left;
}