.rp-LetteredHeading-websites::before {
    padding-top: 58.2878612716763%;
}

.rp-LetteredHeading-websites .rp-LetteredHeading__picture {
    background-image: url(assets/images/headings/me.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 48.686936802924826%;
    width: 28.378574181117532%;
    top: 51.31309625339654%;
    left: 71.62143352601156%;
}

.rp-LetteredHeading-websites .rp-LetteredHeading__website {
    background-image: url(assets/images/headings/websites/Website@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 67.23655764691883%;
    width: 71.67630057803468%;
    top: 10.31861004779944%;
    left: 5.35645472061657%;
}

.rp-LetteredHeading-websites .rp-LetteredHeading__make {
    background-image: url(assets/images/headings/websites/MAKE@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 29.42012601069703%;
    width: 22.54335260115607%;
    top: 9.029413514746425%;
    left: 45.512104046242776%;
    z-index: 1;
}

.rp-LetteredHeading-websites .rp-LetteredHeading__iAlso {
    background-image: url(assets/images/headings/websites/I-also@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35.70082706916043%;
    width: 29.826589595375726%;
    top: 0%;
    left: 10.056146435452794%;
    z-index: 1;
}