.rp-Archive {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.rp-ArchiveHeader {
	margin-bottom: 2em;
}

.rp-ArchiveList {
	padding: 0;
	list-style-type: none;
	margin:0 0 1em;
}
$archiveHeaderWidth: 20em;
$archiveMainWidth: 30em;
$archiveColumnGutter: 2em;
@include mq($from: archiveOnTwoColumns) {
	.blog .rp-Header,
	.archive .rp-Header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	}
	// Make space for Wordpress admin bar if it's there
	.admin-bar.blog .rp-Header,
	.admin-bar.archive .rp-Header {
		top: 32px;
	}

	.rp-Archive:not(.rp-Archive-project):not(.rp-Archive-artwork) {

		max-width: none;

		.rp-Archive__header {
			@include l-scrollFixed-fixed($archiveMainWidth, $archiveHeaderWidth, $archiveColumnGutter);
			top: 50%;
			transform: translateY(-50%);
			
		}

		.rp-Archive__main {
		  @include l-scrollFixed-scroll($archiveMainWidth, $archiveHeaderWidth, $archiveColumnGutter);
		  
		  // Ensures the content starts a bit spaced from the top
		  padding-top: 3em + 2em;

		  // Makes sure content is centered vertically if there's not enough content :D 
		  min-height: calc(100vh);
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		}
	}
}

.rp-PostThumbnailLinkImage {
	display: block;
}