.rp-ArchiveList-project {
	@include inuit-clearfix;
}

.rp-ArchiveListItem-project {

	&:nth-child(3n+2),
	&:nth-child(3n+3) {
		width: 50%;
		float: left;
	}
}

$archiveMainWidth-project: '(100vh - 4.6em) * 2 / 3';
$centeringOffset: '0.5 * (#{$archiveMainWidth-project} - #{$archiveHeaderWidth})';
@include mq($from: archiveOnTwoColumns) {
	.post-type-archive-project .rp-Header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	}
	
	.rp-Archive-project {
		max-width: none;

		.rp-Archive__header {
			@include l-scrollFixed-fixed($archiveMainWidth-project, $archiveHeaderWidth, $archiveColumnGutter);
			// Centers the header vertically
			top: 50%;
			transform: translateY(-50%);
		}

		.rp-Archive__main {
			@include l-scrollFixed-scroll($archiveMainWidth-project, $archiveHeaderWidth, $archiveColumnGutter);
			/* Makes sure content is centered vertically if there's not enough content :D */
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: nowrap;
		}
	}
}