.rp-ArtworkList {
  display: flex;
  flex-wrap: wrap;
}

.rp-ArtworkList__item {

  flex: 1 1 50%;

  @include mq($from: artworkGrid4Cols) {
    flex-basis: 25%;
  }

  @include mq($from: artworkGrid5Cols) {
    flex-basis: 20%;
  }
}

$grid-columns: 6;
$grid-rows: 6;

.rp-ArtworkListItem {
  transition: transform 0.5s;
  transform-origin: 50% 50%;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}

@supports (display: grid) {


  @include mq($from: artworkGrid5Cols) {
    .rp-ArtworkList-grid {
      display: grid;
      grid-auto-columns: 128px;
      grid-template-columns: repeat($grid-columns, 128px);

      // Todo: Find a way to fix this ---v
      grid-template-rows: 128px;
      grid-auto-rows: 128px;
    }

    .rp-ArtworkList__item {

      &:nth-child(20n+1) {
        grid-column-start: 1;
        grid-column: span 3;
        grid-row-start: 1;
        grid-row-end: span 3;
      }

      &:nth-child(20n+2) {
        grid-column-start: span 2;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: span 2;
      }

      &:nth-child(20n+15) {
        grid-column-start: span 3;
        grid-column-end: -1;
        grid-row-start: 4;
        grid-row-end: span 3;
      }

      &:nth-child(20n+16) {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 5;
        grid-row-end: span 2;
      }
    }
  }
}

.rp-ArtworkFull {

  margin-top: 1.5em;

  @include mq($from: horizontalArtwork) {
    display: flex;
    flex-wrap: nowrap;

    &__main {
      flex: 1 1 66%;
      margin-right: 2em;
    }

    &__aside {
      flex: 1 1 20em;
    }
  }
}

.rp-ArtworkCaption {
  position:relative;
  padding-top: 2em;
}

.rp-ArtworkCaption::before {
  content: '';
  display:block;
  height: 5px;
  background-image: linear-gradient(135deg, $rp-red calc(100% - 1em) , transparent calc(100% - 1em + 1px));
  position: absolute;
  left: 0;
  right: 0;
  top: 1em;

  @include mq($from: horizontalArtwork) {
    left: -3em;
  }
}

.rp-ArtworkImage {
  background: linear-gradient(90deg, $rp-cream-on-purple-35 5px, transparent 0%),
              linear-gradient(0deg, $rp-cream-on-purple-35 5px, transparent 0%),
              linear-gradient(-90deg, $rp-cream-on-purple-35 5px, transparent 0%),
              linear-gradient(180deg, $rp-cream-on-purple-35 5px, transparent 0%),
              url(assets/images/r-p-monogram.svg) no-repeat center;
  background-color: $rp-purple;
}

.rp-ArtworkMedia {
  border: .6em solid currentColor;

  img {
    display:block;
  }
}

.rp-ArtworkTime {
  opacity: 0.5;
}
