.rp-ArtworkSingle {
	max-width: 30em;
	max-width: calc(100vh - #{$headerHeight} - 2em);

	margin-left: auto;
	margin-right: auto;
	
	@include mq($and: '(min-height: 35em)') {
		max-width: 30em;
	}
	
	@include mq($and: '(min-height: 35em) and (min-width: 64em)') {
		height: calc(100vh - 3em);
		max-width: 50em;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		&__aside {
			width: 25em;
			margin-left: 2em;
		}	
	}
	.rp-PrevNextNav {
		@include mq($and: '(min-aspect-ratio: 1.25/1)') {
			position: fixed;
			width: calc(100vh - 5em + 2 * #{$circleButtonSize} + 2em);
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			margin-top: 1em;
		}

		@include mq($and: '(min-height: 35em) and (min-width: 43.5em)') {
			position: fixed;
			width: calc(100vh - 5em + 2 * #{$circleButtonSize} + 2em);
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: auto;
			margin-top: 1em;
			width: 30em + 2 * $circleButtonSize + 2em;
		}

		@include mq($and: '(min-height: 35em) and (min-width: 64em)') {
			width: 50em + 2 * $circleButtonSize + 4em;
		}
	}
}

.rp-ArtworkTime {
	&::before {
		content: '';
		display: block;
		width: 1em;
		height: 0.25em;
		color: $rp-orange;
		border-top: solid 2px;
	}
}

.rp-ArtworkSingleImage,
.rp-ArtworkImage {
	display:block;
	cursor: zoom-in;
}

.rp-ArtworkSingleSection {
	padding: 1em 0;
	border-bottom: $rp-navy-on-yellow-20 solid 2px;
}

.rp-ArtworkSingleLink {
	display: block;
}

.rp-RelatedArtworkList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include inuit-clearfix;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

$relatedArtwork-gutterSize: 0.25em;
.rp-RelatedArtwork {
	float: left;
	width: calc(50% - #{$relatedArtwork-gutterSize});
	flex: auto;

	&:nth-child(1),
	&:nth-child(2) {
		margin-bottom: $relatedArtwork-gutterSize;
	}
	
	&:nth-child(2n+1) {
		margin-right: $relatedArtwork-gutterSize * 2;
	}
}

.rp-ArtworkArchive {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

@mixin artwork-grid-size($size) {
	grid-template-columns: repeat(3, $size);
	grid-auto-rows: $size;
}

.rp-ArtworkList {
	list-style-type: none;
	padding: 0;
	margin: 0 0 1em;

	display: flex;
	flex-wrap: wrap;

	display: grid;
	// Shame I can't find a way to specify the height in function of the width to make a square grid :(
	@include artwork-grid-size(calc(( 100vw - 2em ) / 3));

	@include mq($and: '(min-width: 31em)') {
		@include artwork-grid-size(10em);
	}
}

.rp-ArtworkListItem {
	width: 50%;
	overflow: hidden;

	&:nth-child(12n+1) {
		grid-column-end: span 2;
		grid-row-end: span 2;
	}

	&:nth-child(12n+8) {
		grid-column-end: span 2;
		grid-row-end: span 2;
	} 
}

@supports(display: grid) {
	.rp-ArtworkListItem {
		width: 100%;
	}
}

@media (min-width: 54em) and (min-aspect-ratio: 1/1) {
	.rp-ArtworkArchive {
  		padding-right: calc(50% - 1em);
	}

	.rp-ArtworkArchive__header {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  width: 20em;
	  margin-left: 4em;
	  transform: translateY(-50%);
	}

	.rp-ArtworkArchive__main {
	  position: absolute;
	  top: 0;
	  right: 50%;
	  margin-right: -1em;
	}

	.rp-ArtworkList {
	  grid-template-columns: repeat(3, calc((100vh - 4.6em) / 6));
	  grid-auto-rows:  calc((100vh - 4.6em) / 6);
	}
}

