.js-collapsible:not(.is-collapsed) .js-collapsible__collapsedItemsMenu {
  overflow:hidden;
  width: 0;
}

.rp-BreadcrumbLink.is-collapsed,
.rp-BreadcrumbLink.is-collapsed::before,
.rp-BreadcrumbLink.is-collapsed::after {
  width: 0;
  overflow: hidden;
  display: inline-block;
  padding: 0;
}

.rp-CollapsedItemsMenu {
  position: relative;
  overflow: visible;
}

.rp-CollapsedItems {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
}

.rp-CollapsedItems:not(.is-visible) {
	display:none;
}