.rp-ContactPrompt {
  text-align:center;
}

.rp-ContactLink {
  display: block;
  text-align: center;
  @include typo-display;
  font-size: 7vw;

  @include mq($from: heroFontJump) {
    font-size: 31.5px;
  }
}
