.rp-LetteredHeading {
    position: relative;
	margin-top: 0;
	margin-bottom: 2em;
    // Force 100% width as content will be empty
    width: 100%;
}

.rp-LetteredHeading::before {
    display: block;
    content: '';
}

.rp-LetteredHeading__part {
    position: absolute;
    color: transparent;
}

@import 'headings/_greeting';
@import 'headings/contact';
@import 'headings/logos';
@import 'headings/look';
@import 'headings/looking';
@import 'headings/not-found';
@import 'headings/prints';
@import 'headings/read';
@import 'headings/t-shirts';
@import 'headings/thanks';
@import 'headings/thing';
@import 'headings/websites';
@import 'headings/words';
@import 'headings/works';