.rp-Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include typo-display;
  text-transform: uppercase;
  line-height: 3em;
  padding: 0 1em;

  z-index: $above-1;

  .home &,
  .blog &,
  .archive & {
    @include mq($from: archiveOnTwoColumns) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.rp-BreadcrumbLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  &::before {
    content: '- ';
  }

  &:first-child::before {
    content: '< ';
  }
  
  &::after {
    content: ' ';
  }
}

.rp-MenuToggle {
  display: block;
  padding: 0 0.5em;
}

.rp-MenuContainer {
  background-color: fade-out($rp-light, 0.1);
  @include typo-display;
  text-transform: uppercase;
  z-index: $above-1;

  @include overlay;
  width: 80%;
  @include overlay-rightPanel(15em);

  .admin-bar & {
    height: calc(100vh - 32px);
  }

  &:not(:target) {
    display: none;
  }
}

.rp-Menu,
.rp-Menu ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item,
.page_item {
  list-style-type: none;
  padding: 0 0.5em;
}

.rp-Legal {
  text-align: center;
  display: block;
  line-height: 1.3;
}