.rp-Hero {

  padding-top: 3.5em;
  padding-bottom: 3.5em;

  h1 {
    margin: 0;
  }
}

.rp-HeroHeading {
  @include typo-display;
  @include typo-font-size-huge;
}

.rp-Underlined-hero {
  display: inline-block;
}
