@include mq($from: archiveOnTwoColumns) {
	.home .rp-Header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.rp-HomeSection {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&:not(:last-of-type) {
		margin-bottom: 10em;
	}
}