
.rp-FeaturedProjects {
  display: flex;
  padding-bottom: 2em;
}

.rp-FeaturedProjects__card {

  flex: 1 1 0;
  transform: none;
  transition-property: opacity, transform;
  transition-duration: 0.5s;

  &:not(:hover) {
    .rp-ProjectCardHeading {
      @include inuit-hidden-visually;
    }
  }

  &:hover {
    z-index: 25;
    transform: scale(1.2) translateY(-3em);

    .rp-ProjectCardThumbnail {
      filter: none;
      opacity: 1;
    }

    margin-bottom: -3em;
  }
}

.rp-ProjectFull {
  @include inuit-clearfix();

  padding-bottom: 2em;

  @include mq($from:horizontalProjectHeader) {
    padding-top: 4em;
    padding-right: 1em;
    padding-left: 1em;
  }
}
$rp-ProjectFullThumbnail-width: 40%;
$rp-ProjectFullThumbnail-mr: 1.5em;
.rp-ProjectFullThumbnail {

  margin-bottom: 1em;

  @include mq($from: horizontalProjectHeader) {
    float:left;
    width: $rp-ProjectFullThumbnail-width;
    border: solid 0.6em currentColor;
    margin-right: $rp-ProjectFullThumbnail-mr;
  }

  img {
    display: block;
  }
}

.rp-ProjectFullHeader {

  padding-left: 1em;

  @include mq($from: horizontalProjectHeader) {
    float:right;
    width: #{"calc(#{(100 - $rp-ProjectFullThumbnail-width)} - #{$rp-ProjectFullThumbnail-mr})"};
  }
}

.rp-ProjectFullHeading {

  @include mq($from: horizontalProjectHeader) {
    padding-left: 2.5rem;
    transform: translateX(-3.5rem);
  }
}

.rp-ProjectFullBody, .rp-ProjectFullFooter {

  @include mq($until: horizontalProjectHeader) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.rp-ProjectFullFooter {

  clear: both;
  @include inuit-clearfix();
  @include typo-display;
  font-size: 1.5em;
  line-height: 1.5;

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }
}

.rp-ProjectCard {
  display: block;

  &:hover{
    text-decoration: none;
  }
}

.rp-ProjectCardHeading {

  @include light-on-red;
  text-align: center;
  font-size: inherit;
  line-height: 3em;
  margin: 0;
  padding: 0;

  position: relative;

  z-index: 1;

  &::after {
    content: '';
    display: block;

    height: 2em;
    width: 2em;

    border-radius: 9999px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: $rp-red;

    z-index: -1;
  }
}

.rp-ProjectCardThumbnail {

  filter: #{"grayscale(100%)"};
  opacity: 0.65;
}
