
.rp-FeaturedProjects {
  display: flex;
}

.rp-FeaturedProjects__card {

  &:not(:hover) {
    .rp-ProjectCardHeading {
      @include inuit-hidden-visually;
    }
  }

  &:hover {
    z-index: 25;
    transform: scale(1.2) translateY(-3em);

    .rp-ProjectCardThumbnail {
      filter: none;
      opacity: 1;
    }

    margin-bottom: -3em;
  }
}

.rp-ProjectFull {
  @include inuit-clearfix();
  padding-top: 4em;
}

.rp-ProjectFullThumbnail {
  float:left;
  max-width: 40%;
  border: solid 0.6em currentColor;
  margin-right: 1.5em;
  margin-bottom: 1em;
  z-index: 1;

  img {
    display: block;
  }
}

.rp-ProjectFullHeading {
  padding-top: 0.5em;
  padding-left: 0.85em;

  transform: translateX(-0.925em);
}

.rp-ProjectFullFooter {
  clear: both;
  @include inuit-clearfix();
  @include typo-display;
  font-size: 1.5em;
  line-height: 1.5;

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }
}

.rp-ProjectCard {
  display: block;

  &:hover{
    text-decoration: none;
  }
}

.rp-ProjectCardHeading {

  @include light-on-red;
  text-align: center;
  font-size: inherit;
  line-height: 3em;
  margin: 0;
  padding: 0;

  position: relative;

  z-index: 1;

  &::after {
    content: '';
    display: block;

    height: 2em;
    width: 2em;

    border-radius: 9999px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: $rp-red;

    z-index: -1;
  }
}

.rp-ProjectCardThumbnail {

  filter: #{"grayscale(100%)"};
  opacity: 0.65;
}
