.rp-USPList {
  @include mq($from: cardUsp, $until: horizontalUsp) {
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
  }
}

.rp-USP {
  position: relative;
  margin-bottom: 2.5em;

  flex: 0 0 50%;
  @include mq($from: cardUsp, $until: horizontalUsp) {
    padding-left: 4%;
    padding-right: 4%;
  }

  @include mq($from: horizontalUsp) {
    display: flex;
    align-items: center;
    max-width: 33.5em;

    &:not(:last-child) {
      margin-bottom: -1.5em;
    }

    &:nth-child(even) {
      margin-right: 7%;
      margin-left: auto;

      .rp-USPThumbnail {
        order: 2;
      }
    }

    &:nth-child(odd) {
      margin-right: auto;
      margin-left: 7%;
    }

    .with-js & {
      opacity: 0;
    }

    &-animated {

      animation-fill-mode: both;
      animation-duration: 0.75s;

      &:nth-child(even) {
        animation-name: fadeInRight;
      }

      &:nth-child(odd) {
        animation-name: fadeInLeft;
      }
    }
  }
}

.rp-USPThumbnail {

  max-width: 12.5em;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 45%;

  @include mq($until: horizontalUsp) {
    margin-bottom: -1em;
  }
}

.rp-USPTitle {
  @include typo-copy;
  @include typo-font-size-large;
  line-height: 1.5;
  color: $rp-red;
  margin: 0;
  padding: 0;

  @include mq($until: horizontalUsp) {
    text-align: center;
  }

}
