// 1. Settings
// 1.1 Colors
$rp-yellow: #ffc543;
$rp-light: #fff7e7;
$rp-blue: #4ab0aa;
$rp-orange: #ff742e;
$rp-navy: #022950;
// 1.2 Typo
@font-face {
  font-family: Open Sans;
  src:
    url("assets/fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("assets/fonts/OpenSans-Semibold.woff") format("woff");
}
$rp-ff-copy: 'Open Sans', sans-serif;
@font-face {
  font-family: Montserrat;
  src:
    url("assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("assets/fonts/Montserrat-Bold.woff") format("woff");
}
$rp-ff-display: 'Montserrat', sans-serif;

// 1.3 Breakpoints
$mq-breakpoints: (
  
);

// 1.4 Layout variables
$headerHeight: 3em;
$circleButtonSize: 2.6em;


// 2. Tools
@import "../node_modules/sass-mq/_mq.scss";
@import "../node_modules/inuitcss/tools/_tools.hidden.scss";
.t-hidden-visually {
  @include inuit-hidden-visually;
}

@import "../node_modules/inuitcss/tools/_tools.clearfix.scss";
// 2.1 Color combinations
@mixin navy-on-yellow {
	background-color: $rp-yellow;
	background: url(assets/images/background@2x.jpg);
	background-size: 577px 819px;
	color: $rp-navy;
}

// 2.2 Typo
@mixin typo-copy {
	font-family: $rp-ff-copy;
	font-weight: normal;
}

@mixin typo-display {
	font-family: $rp-ff-display;
  font-weight: normal;
}

@mixin overlay {
  position: fixed;
}

@mixin overlay-rightPanel($max-width: 40%) {
  top: 0; 
  right: 0; 
  bottom: 0; 

  max-width: $max-width;
}

@mixin replace-content($height) {

}

// 3. Generic
// @import '../node_modules/normalize.css/normalize';
$speakingPortrait-portraitSize: 200px;
.rp-SpeakingPortrait {
  position: relative;
  padding-right: $speakingPortrait-portraitSize;
  min-height: $speakingPortrait-portraitSize;
}

.rp-SpeakingPortrait__portrait {
  position: absolute;
  right: 0;
  width: $speakingPortrait-portraitSize;
}

.rp-LetteredTitle {
  margin: 0;
}

// 4. Base
* {
  box-sizing: border-box;
}

body {
  margin: 0;
	@include navy-on-yellow;
	@include typo-copy;
}

a {
	color: $rp-orange;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top:0;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  @include typo-display;
  font-weight: normal;
  text-transform: uppercase;
}

// 4.5 Wordpress style adjustments
.gallery-item img {
  width: 100%;
  display: block;
}

// 5. Components
.rp-Main {
  padding: 0 1em;
}

.rp-AsideHeading {
  margin: 0 0 0.25em;
  font-size: 1.25em;
}

.rp-PrevNextNav {
  @include inuit-clearfix;

  &__prev {
    float: left;
  }

  &__next {
    float: right;
  }
}

$prevNextLinkSize: $circleButtonSize;
.rp-PrevNextLink {
  height: $prevNextLinkSize;
  width: $prevNextLinkSize;
  overflow: hidden;
  background: $rp-orange;
  color: white;
  display: inline-block;
  border-radius: 9999px;
  position: relative;
  &::before {
    content: '';
    height: 100%;
    display: block;
    text-align: center;
    line-height: $prevNextLinkSize;
  }

  &-previous::before {
    content: '<';
  }

  &-next::before {
    content: '>';
  }
}

@import '_shareLinks';
@import '_home';
@import '_header';
@import '_artworks';



