// 1. Settings
// 1.1 Colors
$rp-yellow: #ffc543;
$rp-light: #fff7e7;
$rp-blue: #4ab0aa;
$rp-orange: #ff742e;
$rp-navy: #022950;
$rp-orange-on-yellow-50: mix($rp-orange,$rp-yellow, 50%);
$rp-light-on-yellow-50: mix($rp-light, $rp-yellow, 50%);
$rp-navy-on-yellow-20: mix($rp-navy, $rp-yellow, 20%);
$rp-navy-on-yellow-80: mix($rp-navy, $rp-yellow, 80%);
// 1.2 Typo
@font-face {
  font-family: Open Sans;
  src:
    url("assets/fonts/OpenSans-Semibold.woff2") format("woff2"),
    url("assets/fonts/OpenSans-Semibold.woff") format("woff");
}
$rp-ff-copy: 'Open Sans', sans-serif;
@font-face {
  font-family: Montserrat;
  src:
    url("assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("assets/fonts/Montserrat-Bold.woff") format("woff");
}
$rp-ff-display: 'Montserrat', sans-serif;

$rp-lineHeight: 1.5;

// 1.3 Breakpoints
$mq-breakpoints: (
  archiveOnTwoColumns: 58em
);

// 1.4 Layout variables
$headerHeight: 3em;
$circleButtonSize: 2.6em;

// 1.5 Z-indices
$above-1: 25;

// 2. Tools
@import "../node_modules/sass-mq/_mq.scss";
@import "../node_modules/inuitcss/tools/_tools.hidden.scss";
.t-hidden-visually {
  @include inuit-hidden-visually;
}

@import "../node_modules/inuitcss/tools/_tools.clearfix.scss";
// 2.1 Color combinations
@mixin navy-on-yellow {
	background-color: $rp-yellow;
	background: url(assets/images/background@2x.jpg);
	background-size: 577px 819px;
	color: $rp-navy;
}

// 2.2 Typo
@mixin typo-copy {
	font-family: $rp-ff-copy;
	font-weight: normal;
}

.t-typo-copy {
  @include typo-copy;
}

@mixin typo-display {
	font-family: $rp-ff-display;
  font-weight: normal;
}

.t-typo-display {
  @include typo-display;
}


@mixin overlay {
  position: fixed;
}

@mixin overlay-rightPanel($max-width: 40%) {
  top: 0; 
  right: 0; 
  bottom: 0; 

  max-width: $max-width;
}

// 2.3 - Layouts
@import 'tools/_f-strip-units.scss';
@import 'tools/_l-scrollFixed';
@import 'tools/_l-grid';
@import 'tools/_l-sideBySide';

.l-vertCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import 'tools/_viewportScalingFontSize';

// 3. Generic
// @import '../node_modules/normalize.css/normalize';
// 4. Base
* {
  box-sizing: border-box;
}

body {
  margin: 0;
	@include navy-on-yellow;
	@include typo-copy;
  line-height: $rp-lineHeight;
}

a {
	color: $rp-orange;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

iframe {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

p, ul, ol, dl {
  margin-top:0;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  @include typo-display;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

.u-d-b {
  display: block;
}

.u-ta-c {
  text-align: center;
}

.u-c-orange {
  color: $rp-orange;
}

.u-fl-auto {
  flex: auto;
}

.u-fl-none {
  flex: none;
}

.u-flai-c {
  align-items: center;
}

.u-flas-start {
  align-self: start;
}

.u-h-100vh {
  height: 100vh;
}

.u-mh-100vh-xl {
  @include mq($from: archiveOnTwoColumns) {
    min-height: 100vh;
  }
}

.u-mw-30em {
  // Constrains the content so that text doesn't span too wide
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-1 {
  margin-bottom: 1em;
}

.u-show-xl {
  @include mq($until: archiveOnTwoColumns) {
    display: none;
  }
}

.u-hide-xl {
  @include mq($from: archiveOnTwoColumns) {
    display: none;
  }
}

.rp-List-reset {
  padding: 0;
  list-style-type: none;
}

// 4.5 Wordpress style adjustments
.gallery-item img {
  width: 100%;
  display: block;
}

// 5. Components
.rp-Main {
  padding: 0 1em;
}

.rp-AsideHeading {
  margin: 0 0 0.25em;
  font-size: 1.25em;
}

.rp-AsideSection {
  padding: 1em 0;
  border-bottom: $rp-navy-on-yellow-20 solid 2px;
}

.rp-Content {
  max-width: 41em;
  margin: auto;
}

.rp-Announcement {
  display: block;
  border: solid 3px $rp-orange;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.rp-PrevNextNav {
  @include inuit-clearfix;
  margin-bottom: 1em;

  &__previous {
    float: left;
  }

  &__next {
    float: right;
  }
}

$prevNextLinkSize: $circleButtonSize;
.rp-PrevNextLink {
  height: $prevNextLinkSize;
  width: $prevNextLinkSize;
  overflow: hidden;
  background: $rp-orange;
  color: $rp-light;
  display: inline-block;
  border-radius: 9999px;
  position: relative;
  &::before {
    content: '';
    height: 100%;
    display: block;
    text-align: center;
    line-height: $prevNextLinkSize;
  }

  &-disabled {
    background-color: $rp-orange-on-yellow-50;
    color: $rp-light-on-yellow-50;
  }

  &-previous::before {
    content: '<';
  }

  &-next::before {
    content: '>';
  }
}

// Forms
.rp-Label {
  @include typo-display;
  text-transform: uppercase;
}

.rp-Input {
  border: none;
  border-bottom: solid 2px #FF742E;
  @include typo-copy;
  font-size: inherit;
  color: $rp-navy;
  background-color: fade-out($rp-light, 0.5);
  padding: 0 0.5em;
  line-height: 2;
}

.rp-Button {
  background-color: $rp-orange;
  color: $rp-light;
  text-transform: uppercase;
  border: none;
  @include typo-display;
  font-size: inherit;
  line-height: 2;
  padding: 0 0.5em;
}

.rp-Form-oneLine {
  display: flex;
  flex-wrap: nowrap;
}

// wpcf-7
.wpcf7-form label {
  @extend .rp-Label;
}

.wpcf7-form-control {
  @extend .rp-Input;
  // Ensures the form take all available space
  display: block;
  width: 100%;
}
.wpcf7-submit {
  @extend .rp-Button;
}

// Headings
@import '_headings';
@import '_shareLinks';
@import '_home';
@import '_header';
@import '_archive';
@import '_archive-project';
@import '_archive-artwork';
@import '_blog';
@import '_artworks';
@import '_single-project';



